@model EventBookingWeb.Models.Venue

<h2>Delete Venue</h2>

<p>Are you sure you want to delete this venue?</p>

<dl class="row">
    <dt class="col-sm-3">Name:</dt>
    <dd class="col-sm-9">@Model.VenueName</dd>

    <dt class="col-sm-3">Location:</dt>
    <dd class="col-sm-9">@Model.Location</dd>

    <dt class="col-sm-3">Capacity:</dt>
    <dd class="col-sm-9">@Model.Capacity</dd>
</dl>

<form asp-action="Delete">
    <input type="hidden" asp-for="VenueId" />
    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a class="btn btn-secondary" href="/Venue">Cancel</a>
</form>
